*,
body,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #222;
    color: #fff */
    background-color: #fff;
}

#root {
    display: flex;
    justify-content: center;
}

.AppContainer {
    flex-basis: 100%;
    /* border: 1px solid #5555;
    box-shadow: 5px 5px 5px #5555; */
    border-radius: 5px;
    padding: 1vw;
    margin: 1vw;
    min-height: 97vh;
    max-width: 1000px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 500px) {

    .SummaryContainer {
        flex-wrap: wrap;
    }
}


.MainContainer {
    display: grid;
    gap: 1vh
}

.navUL {
    list-style: none;
    display: grid;
    gap: 2vw;
}

.navlistTitle {
    display: flex;
    gap: 1vw;
    transition: rotate 5s;
    align-items: center;
    transition: all .1s ease-in-out;
    width: fit-content;
}

/* .navlistTitle:hover {
    transform: translateX(2vw);
} */

.activeNavTitle {
    color: blue;
    /* font-style: italic; */
}

.rotateArrowOpen {
    animation: rotateArrowOpen .5s;
    transform: rotate(180deg);
    color: blue
}

@keyframes rotateArrowOpen {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

.rotateArrowClosed {
    animation: rotateArrowClosed .5s;
    transform: rotate(0);
}

@keyframes rotateArrowClosed {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0);
    }
}

.navLI {
    border: 1px solid #5555;
    padding: 1vw;
    box-shadow: 5px 5px 5px #5555;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 5px;
}

.navLI:hover {
    cursor: pointer;
}

.navLI:hover .navlistTitle {
    transform: translateX(2vw);
}

.navLI.skillInfo:hover {
    cursor: auto;
}

.navUL li:last-child:not(.summaryLI, .slide, .thumb) {
    /* border-bottom: 1px solid #555; */
}


.HeaderContainer {
    /* border: 1px solid green; */
    padding: 1vw;
    display: grid;
    gap: .5vw;
    justify-items: center;
}

.HeaderContainer p {
    font-style: italic;
    /* font-family: fantasy; */
}

.contactInfo {
    display: flex;
    gap: 1vw;
    align-items: center;

}

.SummaryContainer {
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    border-radius: 5%;
    min-width: 250px;
    max-width: 30%;
}

.summaryUL {
    margin-left: 1vw;
    display: grid;
    gap: 2vw;
    list-style: square inside;
}

.summaryUL li:last-child {
    margin-bottom: 2vw;
}


.TechnicalSkillsContainer {
    /* padding: 1vw; */
}


.techSkillTitle,
.firstTechSkillTitle {
    font-weight: bold;
    border-top: 1px solid #5555;
    padding: 1vw;
    /* width: fit-content; */
}

.firstTechSkillTitle {
    border: none;
    padding-top: 0;
}

.skillDescription {
    font-style: italic;
}

.skillLogoBackgroundSquare {
    /* background-color: #eee;
    border-radius: 5px; */
    /* height: fit-content */
}

/* .skillLogoBackgroundCircle {
    background-color: #eee;
    border-radius: 9999px;
} */

.frontEndSkillsContainer,
.backEndSkillsContainer,
.testingDeploymentSkillsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.devToolsSkillsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}




.carouselMainContainer {
    max-width: 90vw;
    margin: auto;
}

.control-dots {
    background-color: #5555;
    border-radius: 9999px;
}

.control-arrow::before .control-next::before {
    background-color: #555;
}

button.control-arrow.control-next,
button.control-arrow.control-prev {
    background-color: #5555;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: .5vw;
}

.carousel.carousel-slider {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.control-dots {
    /* display: flex; */
    max-width: fit-content;
}

.thumbs li:hover {
    cursor: pointer;
}


.linksContainer {
    display: flex;
    gap: 1.5vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.linksAnchorTag,
.linksAnchorTag:visited {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.linksWithTextDiv {
    display: grid;
    justify-items: center;
}

div.educationMainContainer{
    display: flex;
    flex-direction: column;
    gap: 2vw
}

div .educationProgramSchool{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-items: center;
    align-items: flex-end;
    gap: 1vw;
    flex-wrap: wrap;
}

div.gradDate{

}

p.educationDescription{
    margin-top: 1vw;
}