*,
body,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #222;
    color: #fff */
    /* background-color: #fff; */

}

body {
    color: white;
    text-shadow: 1px 1px 3px black;
    /* background-color: rgb(191, 221, 242);
    background-image: linear-gradient(150deg, rgb(242, 242, 241) 30%, rgb(118, 180, 223)); */

    background-color: black;
    background: url('../Assets//moonEarthImg.jpeg') no-repeat center center fixed;
    background-size: cover;

}

#root {
    display: flex;
    justify-content: center;
}

.AppContainer {
    flex-basis: 100%;
    /* border: 1px solid #5555;
    box-shadow: 5px 5px 5px #5555; */
    border-radius: 5px;
    padding: 1vw;
    margin: 1vw;
    min-height: 97vh;
    max-width: 1000px;
}

.hide {
    display: none;
}


@media only screen and (max-width: 500px) {

    .SummaryContainer {
        flex-wrap: wrap;
    }

    .linksContainer {
        display: grid;
    }

}

.MainContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* min-height: 99vh; */
}

.navUL {
    list-style: none;
    display: grid;
    gap: 2vw;
}

.navlistTitle {
    display: flex;
    gap: 1vw;
    transition: rotate 5s;
    align-items: center;
    transition: all .1s ease-in-out;
    width: fit-content;
    padding: .25vw;
}

#Summary,
#TechnicalSkills,
#Portfolio,
#Experience,
#Education,
#Links {
    font-size: 2rem;
}


.activeNavTitle {
    color: blue;
    font-size: 2.5rem !important;
    text-shadow: 1px 1px 3px white;

    font-style: italic;
}

.rotateArrowOpen {
    animation: rotateArrowOpen .5s;
    transform: rotate(180deg);
    color: blue
}

@keyframes rotateArrowOpen {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

.rotateArrowClosed {
    animation: rotateArrowClosed .5s;
    transform: rotate(0);
}

@keyframes rotateArrowClosed {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0);
    }
}

.navLI {
    border: 1px solid #5555;
    padding: 1vw;
    box-shadow: 5px 5px 5px #999;
    /* box-shadow: 5px 5px 5px #aaa; */
    border-radius: 5px;

}

.navLI:hover {
    cursor: pointer;
}

.navLI:hover .navlistTitle {
    transform: translateX(2vw);
}

.navLI.skillInfo:hover {
    cursor: auto;
}

.skillInfo {
    animation: easeInfoIn .5s;
}

@keyframes easeInfoIn {

    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }
}

.headerWraper {
    display: flex;
    /* max-width: 100vw; */
    justify-content: center;
}

.HeaderContainer {
    /* border: 1px solid green; */
    padding: 1vw;
    display: grid;
    gap: .5vw;
    justify-items: center;
    max-width: fit-content;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #999;
    margin-bottom: 1vw;

}

.HeaderContainer h1 {
    font-size: 2.5rem;
}

.HeaderContainer p {
    font-style: italic;
    font-size: 1.2rem;
    /* font-family: fantasy; */
}

.contactInfo {
    display: flex;
    gap: 1vw;
    align-items: center;

}

.SummaryContainer {
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    border-radius: 5%;
    min-width: 250px;
    max-width: 30%;
}

.summaryUL {
    margin-left: 1vw;
    display: grid;
    gap: 2vw;
    list-style: square inside;
    font-size: 1.1rem;
}

.summaryUL li:last-child {
    margin-bottom: 2vw;
}


.techSkillTitle,
.firstTechSkillTitle {
    font-weight: bold;
    border-top: 1px solid #999;
    padding: 1vw;
    /* width: fit-content; */
}

.firstTechSkillTitle {
    border: none;
    padding-top: 0;
}

.skillDescription {
    font-style: italic;
}

.skillLogoBackgroundSquare {
    background-color: #eee;
    background-color: rgba(255, 255, 255, .5);

    border-radius: 5px;
    height: fit-content
}

.skillLogoBackgroundCircle {
    /* background-color: #9995; */
    background-color: rgba(255, 255, 255, .5);
    border-radius: 9999px;
}

.skillLogoBackgroundCircleDark {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 9999px;

}

.frontEndSkillsContainer,
.backEndSkillsContainer,
.testingDeploymentSkillsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.devToolsSkillsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1.5vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.devToolItem {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}



.carouselMainContainer {
    max-width: 90vw;
    margin: auto;
}

.control-dots {
    background-color: #5555;
    border-radius: 9999px;
}

.control-arrow::before .control-next::before {
    background-color: #555;
}

button.control-arrow.control-next,
button.control-arrow.control-prev {
    background-color: #5555;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: .5vw;
}

.carousel.carousel-slider {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.control-dots {
    /* display: flex; */
    max-width: fit-content;
}

.thumbs li:hover {
    cursor: pointer;
}

/* .babyGameVid::after {
    content: 'test';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.linksContainer {
    display: flex;
    gap: 1.5vw;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}


.linksAnchorTag,
.linksAnchorTag:visited {
    text-decoration: none;
    /* color: black; */
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 3px black;
}


.linksWithTextDiv {
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

div.educationMainContainer {
    display: grid;
    gap: 5vw;
    padding: 1vw
}

.educationDiv {
    display: flex;
    flex-direction: column;
    gap: 2vw
}

.educationUL,
.experienceUL {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: flex-end;
    gap: 1vw;
    flex-wrap: wrap;
}

.edProgram {
    border-bottom: 1px solid #999;
}

.schoolName {
    font-style: italic;
}

.gradDate {}

p.educationDescription {
    margin-top: 1vw;
    margin-left: 1vw;
}

.navUL>*,
.HeaderContainer {
    background-color: rgba(0, 0, 0, .25);
    /* background-color: rgba(255, 255, 255, .15); */
    /* background-color: #9995; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.ufoContainer {
    margin-top: 5vh;
}

.ufoImg {
    animation: moveUfo 10s infinite
}


.divider {
    width: 100%;
    border: 1px solid #999;
}

@keyframes moveUfo {
    0% {
        transform: translateX(0);
    }


    50% {
        transform: translateX(calc(100vw - 90px));

    }

    100% {
        transform: translateX(0);

    }
}

@media (max-width: 860px) {
    .educationUL {
        flex-direction: column;
        /* justify-items: left;
        justify-content: left; */
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    .experienceUL {
        flex-direction: column;
        align-items: flex-start;
    }
}